<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Case that reflects your memories">
    <meta name="description" content="">
    <title>iphones</title>
    <link rel="stylesheet" href="css/nicepage.css" media="screen">
<link rel="stylesheet" href="css/iphones.css" media="screen">
    <script class="u-script" type="text/javascript" src="./../jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="./../nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contanct us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Phone cases</a>
            </li><li class="nav-item">
              <a class="nav-link" href="customcover">Custom cover</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cart">Go to cart</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    
    

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="iphones">
    <meta property="og:type" content="website">                   
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="en">
    
  
    <section class="skrollable skrollable-between u-align-center u-clearfix u-image u-shading u-section-2" src="" id="sec-4e8d" data-image-width="1280" data-image-height="854">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">Case that reflects your memories</h1>
        <p class="u-large-text u-text u-text-variant u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">We know, your heart is broken , now save your phone from geting into peices</p>
        <div class="u-clearfix u-layout-custom-sm u-layout-custom-xs u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-right u-container-align-right-sm u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                <div class="u-container-layout u-valign-middle-xs u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                  <a href="#" class="u-align-right-sm u-align-right-xs u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-palette-2-base u-radius-50 u-btn-1">Call Us</a>
                </div>
              </div>
              <div class="u-align-left u-container-align-left-sm u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-2">
                  <a href="https://www.instagram.com/direct/t/17842506653388805" class="u-active-white u-align-left-sm u-align-left-xs u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-white u-none u-radius-50 u-text-active-black u-text-hover-black u-btn-2">Get in touch VIA Instagram</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 


    <section class="u-clearfix u-section-3" id="carousel_4570">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">PHONE CASES</h1>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">

         
            <%des.forEach(datas => {%> 
                

          <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-5"style="  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('/pic/<%=datas.design_image%>')" data-image-width="2000" data-image-height="1333">
            <div class="u-container-layout u-similar-container u-container-layout-5">
                
              
              
              <form action="/addtocart" id="cartForm" method="post">
                <h5  id = "imaggeid" hidden><%=datas.design_image%></h4>
                <h3 name="imagename" class="u-text u-text-default u-text-14"><%=datas.design_name%></h3>
                <p >catagory : <%=datas.category%></p>
                <input type="text"  name="catagory" hidden value="<%=datas.category%>"  >
                <input type="text"  name="imagename" hidden value="<%=datas.design_name%>">
                <input name="imageurl" type="text" value="<%=datas.design_image%>" hidden>
                <p name="price" class="u-text u-text-default u-text-15">price : Rs 199</p>
                <select style="color: black;" name="case_material" class="case_mat">
                    <option value="silicon">silicon case</option>
                    <option value="hard">hard case</option>
                    <option value="glass">glass class</option>
                </select>
                <label for="brandSelector1">Select Brand:</label>
                <select style="color: black;" class="brandSelector"    name="phonebrand">
                    <option value=""  selected="true" disabled="disabled" >Choose Brand</option>
 
                </select>
                <label for="modelSelector1">Select Model:</label>
                <select style="color: black;" class="modelSelector" disabled name="phonemodel">
                    <option>Select a Brand first</option>
                </select>
                  <button  type="submit"  class="u-border-2 u-border-hover-palette-2-base u-border-palette-1-base u-btn u-btn-round u-button-style u-none u-radius-50 u-btn-5"><span class="u-icon u-text-palette-1-base u-icon-5"><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;"><circle cx="181.333" cy="437.333" r="53.333"></circle><path d="M509.867,89.6c-2.133-2.133-4.267-4.267-8.533-4.267H96L85.333,29.867c-2.133-4.267-6.4-8.533-10.667-8.533h-64 C4.267,21.333,0,25.6,0,32s4.267,10.667,10.667,10.667h55.467l51.2,260.267c8.533,34.133,38.4,59.733,74.667,59.733h245.333 c6.4,0,10.667-4.267,10.667-10.667c0-6.4-4.267-10.667-10.667-10.667H192c-17.067,0-34.133-8.533-42.667-23.467L460.8,275.2 c4.267,0,8.533-4.267,8.533-8.533L512,96C512,96,512,91.733,509.867,89.6z"></path><circle cx="394.667" cy="437.333" r="53.333"></circle></svg></span>
                   </button>
                <br>
            </form>
            </div>
        </div>

        <% }) %>






     



          














          
<script>
      const cartForm = document.getElementById('cartForm');

// Add an event listener for the form submission
cartForm.addEventListener('submit', function (event) {
  // Prevent the default form submission behavior (page refresh)
  event.preventDefault();

  // Get the form data
  const formData = new FormData(cartForm);

  // Convert the form data to an object
  const cartData = {};
  formData.forEach((value, key) => {
    cartData[key] = value;
  });

  // Store the cart data in localStorage
  localStorage.setItem('cartData', JSON.stringify(cartData));

  // Optionally, you can display a success message or update the UI

});



  
  const phoneData = [
    { 'brand': 'iPhone', 'model': 'iPhone 5', 'case_material': 'silicon' },
    { 'brand': 'iPhone', 'model': '5S', 'case_material': 'silicon' },
    { 'brand': 'iPhone', 'model': '5C', 'case_material': 'silicon' },
    { 'brand': 'iPhone', 'model': 'iPhone 6', 'case_material': 'hard' },
    { 'brand': 'iPhone', 'model': '6s', 'case_material': 'hard' },
    { 'brand': 'iPhone', 'model': 'iPhone 7', 'case_material': 'hard' },
    { 'brand': 'Samsung', 'model': 'Galaxy S10', 'case_material': 'silicon' },
  ];
  
  const caseMaterialSelectors = document.querySelectorAll('.case_mat');
  const brandSelectors = document.querySelectorAll('.brandSelector');
  const modelSelectors = document.querySelectorAll('.modelSelector');
  
  for (let i = 0; i < brandSelectors.length; i++) {
      const caseMaterialSelector = caseMaterialSelectors[i];
      const brandSelector = brandSelectors[i];
      const modelSelector = modelSelectors[i];
  
      brandSelector.innerHTML = '<option value="">Select Brand</option>';
      const uniqueBrands = [...new Set(phoneData.map(item => item.brand))];
      uniqueBrands.forEach(brand => {
          const option = document.createElement('option');
          option.value = brand;
          option.text = brand;
          brandSelector.appendChild(option);
      });
  
      brandSelector.addEventListener('change', () => {
          const selectedBrand = brandSelector.value;
          const selectedCaseMaterial = caseMaterialSelector.value;
  
          if (selectedBrand) {
              const brandModels = phoneData.filter(item => item.brand === selectedBrand && item.case_material === selectedCaseMaterial).map(item => item.model);
  
              modelSelector.innerHTML = '<option value="">Select Model</option>';
              brandModels.forEach(model => {
                  const option = document.createElement('option');
                  option.value = model;
                  option.text = model;
                  modelSelector.appendChild(option);
              });
              modelSelector.disabled = false;
          } else {
              modelSelector.innerHTML = '<option value="">Select Model</option>';
              modelSelector.disabled = true;
          }
      });
  
      caseMaterialSelector.addEventListener('change', () => {
          const selectedBrand = brandSelector.value;
          const selectedCaseMaterial = caseMaterialSelector.value;
  
          if (selectedBrand) {
              const brandModels = phoneData.filter(item => item.brand === selectedBrand && item.case_material === selectedCaseMaterial).map(item => item.model);
  
              modelSelector.innerHTML = '<option value="">Select Model</option>';
              brandModels.forEach(model => {
                  const option = document.createElement('option');
                  option.value = model;
                  option.text = model;
                  modelSelector.appendChild(option);
              });
              modelSelector.disabled = false;
          } else {
              modelSelector.innerHTML = '<option value="">Select Model</option>';
              modelSelector.disabled = true;
          }
      });
  }
  </script>





</script>
          </div>
        </div>
      </div>
    </section>

    
          
    <style>
      .whatsapp_float{
        position: fixed;
        bottom: 40px;
        right: 20px;
      }
    </style>
    <div class="whatsapp_float">
      <a href="https://wa.me/918434106606" target="_blank">
        <img src="images/whatsappicon.png" alt="" width="50px" class="whatsapp_float_btn" >
      </a>

    </div>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-b7f2"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Website by Earthling Aid Tech</p>
      </div></footer>
      <script>
        var elements = document.getElementsByClassName("u-section-2");
      for (var i = 0; i < elements.length; i++) {
        elements[i].style.backgroundImage = 'url("https://c1.wallpaperflare.com/preview/51/932/916/hand-holding-phone-mobile-phone.jpg")';
      }
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body></html>